.detail-page {
  /* background-color: #778ca3; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-detail {
  background-color: #778ca3;
  /* border: 1px solid black; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 10vw;
  height: 800px;
  width: 500px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.movie-detail_poster {
  /* border: 1px solid black; */
  border-radius: 5%;
  margin: 15px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.movie-detail_contents {
  width: 71%;
  margin: 0% 2%;
}
.movie-detail_title {
  height: 72px;
}
.movie-detail_summary {
  font-size: 12px;
  /* width: 200px; */
  /* margin-bottom: 22px; */
  margin-bottom: 150px;
  height: 55px;
}

.movie-detail_rating {
  /* border: 1px solid yellow; */
  font-size: 25px;
  background-color: #3867d6;
  width: 140px;
  border-radius: 25px;
  margin-bottom: 38px;
  /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8); */
  border: 2px solid rgb(109, 110, 174);
}
.movie-detail_rating-star {
  font-size: 25px;
  position: relative;
  top: -2px;
}
.movie-detail_genres {
  /* display: inline; */
  padding: 0;
}

.movie-detail_genre {
  display: inline;
  margin-right: 5px;
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: #a5b1c2;
  padding: 2px 5px;
  color: #3867d6;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
