html,
body {
  background-color: #34495e;
  margin: 0;
}
.container {
  background-color: #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  /* background-color: aqua; */
  font-size: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40vh;
}
