.movies_movie {
  background-color: #778ca3;
  /* border: 1px solid black; */
  border-radius: 5%;
  display: flex;
  margin: 10vh 10vw;
  height: 300px;
  width: 750px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.movie_poster {
  /* border: 1px solid black; */
  width: 25%;
  border-radius: 5%;
  margin: 15px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.movie_contents {
  width: 71%;
  margin: 0% 2%;
}
.movie_title {
  height: 72px;
}
.movie_summary {
  font-size: 12px;
  /* width: 200px; */
  /* margin-bottom: 22px; */
  /* margin-bottom: 50px; */
  height: 55px;
}

.movie_rating {
  /* border: 1px solid yellow; */
  font-size: 25px;
  background-color: #3867d6;
  width: 140px;
  border-radius: 25px;
  margin-bottom: 38px;
  /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8); */
  border: 2px solid rgb(109, 110, 174);
}
.movie_rating-star {
  font-size: 25px;
  position: relative;
  top: -2px;
}
.movie_genres {
  /* display: inline; */
  padding: 0;
}

.movie_genre {
  display: inline;
  margin-right: 5px;
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: #a5b1c2;
  padding: 2px 5px;
  color: #3867d6;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
